---
import Layout from "../layouts/Layout.astro";

const pageTitle = "About Me";
const identity = {
  firstName: "まい",
  country: "日本",
  occupation: "Web制作アシスタント",
  hobbies: ["ゲームをすること", "お絵かき", "映画鑑賞"],
};
const skills = ["HTML", "CSS", "JavaScript", "TailwindCSS", "Astro"];

const happy = true;
const finished = false;
const goal = 3;
---
<Layout>
    <h1>{pageTitle}</h1>
    <h2>...and my new Astro site!</h2>
    <p>About me:</p>
    <ul>
      <li>私の名前は、{identity.firstName}です。</li>
      <li>私は {identity.country} に住んでいます。 {identity.occupation}として働いています。</li>
      {identity.hobbies.length >= 2 && 
        <li>趣味は {identity.hobbies[0]}、{identity.hobbies[1]}、 {identity.hobbies[2]}です。</li>
      } 
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</Layout>